.menu-bar {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu-bar {
    display: block;
    margin: 0;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .logo p {
    margin: 0;
  }
  .menu {
    width: 60%;
    margin: 0;
    background-color: grey;
    position: fixed;
    top: 135px;
    right: -100%;
    z-index: 1;
  }
  .separator {
    display: none;
  }
  .menu a,
  .pag-actual {
    display: block;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .menu a:hover,
  .pag-actual:hover {
    background-color: lightslategray;
  }
  .bt-menu {
    flex: 1;
  }
}
