*{
    margin: 0 auto;
    color:white;    
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
body{    
    background-image: url(../img/gris_granulado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: Parraf;
    src: url(../fonts/parrafos.ttf);
}
@font-face{
    font-family:Titulos;
    src:url(../fonts/titulos.ttf);
}
p,h3{
    font-family: Parraf;
}
.container{
    width: 90%;
    min-width: 280px;
    max-width: 1200px;   
}
.header-contacte{
    display: flex;   
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.contacte-phone{
    width: 70%;
    min-width: 245px;
    text-align: right;
}
.contacte-phone-box{
    display:inline-flex; 
    padding: 5px;      
    min-width: 245px;
    border:1px solid white;
    margin:5px 0px;  
    text-align: center;      
}
.social{
    display: inline-flex;
    margin:5px 0px;
}
.ico{
    margin:5px;
}
.logo-menu{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.logo{
    font-size: 3em; 
    width: 40%;         
}
.menu{
    flex:1;
    text-align: right;
    font-size: 1.2em;        
}
.menu a{
    text-decoration: none; 
    padding: 5px 8px;   
}
.text-danger,.pag-actual{
    color:red;    
}
.pag-actual{
    padding: 5px 8px;
}
.text-danger{
    font-weight: bold;  
}
.separator{
    margin:5px;
}
.body-img{   
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 800px;
    position: relative;    
}
.body-img-text{
    font-size: 6vw;
    background-color:rgba(5,0,0, 0.2); 
    padding:20px;
}
.body-img-btn{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left:30px;
    color: white;   
    padding:10px 0px;   
    border-radius: 5px;
    border:2px solid rgba(145,0,0); 
    background:linear-gradient(rgba(125,0,0),rgba(223,48,48));
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.limitador{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between; 
    align-content: center; 
    align-items: center;
    font-size: 4vw;   
    margin: 20px 0px;
}
.limitador hr{
    width: 60%;
    margin: 0;
}
.limitador p{
    margin:0;
}
.col-cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.car{
    width: 23%;
    min-width: 276px;
    margin:0;
}
.m-2{
    margin: 20px 0px;
}
.m-3{
    margin: 30px 0px;
}
.m-1{
    margin-top: 20px;
}
.car-text-danger{
    color:red;
}
.btn-car{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.text-big{
    font-family: Parraf;
    font-size: 2em;
}
.hr-bold{
    border-top: 3px solid red;
    width: 60px;
    margin:0;
}
.inv-header-p{    
    width: 80%;
    margin:20px 0px;
}
.car-inven{
    width: 48%;
    min-width: 380px;
    margin: 15px 0;
}
.car-img img{
    width: 100%;
}
.container-text{
    display: flex;
    flex-wrap: wrap;
}
.text-left{
    width: 49%;
    margin:0;
}
.text-right{
    width: 49%;
    min-width: 210px;
    border-left:1px solid white;
    padding-left: 20px;
    box-sizing: border-box;
}
@media only screen and (max-width:480px){
    .text-right{
        width: 100%;        
    }
    .btn-car{
        width: 50%;
    }
    .text-left{
        width: 100%; 
        padding-left: 20px;          
    }
    .car{
        width: 90%;
    }
    
}
@media only screen and (min-width:481px) and (max-width:640px){
    .car{
        width: 90%;
    } 
}
@media only screen and (min-width:641px) and (max-width:847px){
    .car{
        width: 48%;
    } 
}
@media only screen and (min-width:848px) and (max-width:948px){
    .car{
        width: 48%;
    } 
}
@media only screen and (max-width:848px){
    .car-inven{
        width: 100%;        
    }
    .inv-header-p{
        width: 100%;
    }
}


